#time
#threading
#queue
#os
datetime
pytk
Pillow
numpy<2
scikit-video
# Use python 3.10
#
#PySpin
# for pyspin use...
#$ sudo python3.6 -m pip install ./spinnaker_python-4.0.0.116-cp310-cp310-win_amd64.whl
